# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# VS code
.vscode

# typescript
#
*.tsbuildinfo
*.ts.map

# Bundle artifact
*.jsbundle

# Other
__tests__/
build/